<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{decoration.name}}</h4>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="addPackage(form)">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="Type">Type</label>
              <select class="form-control" id="Type" [(ngModel)]="package.packageType" [value]="package.packageType"
                      name="packageType" required>
                <option *ngFor="let type of packageTypes" [value]="type">{{type}}</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="Description">Description</label>
              <textarea id="Description" style="height: 120px" type="text" class="form-control"
                        name="description"  [(ngModel)]="package.description" required></textarea>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="Price">Price</label>
              <input id="Price" type="number" class="form-control"
                     name="price" [(ngModel)]="package.price" required>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="!form.valid" class="btn btn-success" type="submit"
                *ngIf="!isEdit">Add</button>
        <button [disabled]="!form.valid" type="button" class="btn btn-outline-dark"
                *ngIf="isEdit">Save</button>
        <button type="button" class="btn btn-danger">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
