<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col" *ngFor="let header of headers">{{ header }}</th>
  </tr>
  </thead>
  <tbody *ngFor = "let decoration of decorationsList, let x = index">
  <tr>
    <td colspan="4"><h5>{{decoration.name}}</h5></td>
    <td>
      <div class="btn-toolbar">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-success" (click)="editDecoration(decoration, true)">
            <i class="material-icons" style="color: green">add</i></button>
        </div>
        <div class="btn-group">
          <button type="button" style="margin-left: 10px" class="btn btn-outline-danger">
            <i class="material-icons" style="color: red">delete</i></button>
        </div>
      </div>
    </td>
  </tr>
  <tr *ngFor = "let package of decoration.packageList, let i = index">
    <td></td>
    <td>{{ package.packageType}}</td>
    <td>{{ package.description}}</td>
    <td>{{ package.price}}</td>
    <td>
      <i class="material-icons" style="cursor: pointer"
         (click)="editDecoration(decoration, false, package)">edit</i>
    </td>
  </tr>
  </tbody>
</table>

<app-decoration-edit [isOpen]="isOpen" [decoration]="decoration"
                     [package]="package" [isEdit]="isEdit"></app-decoration-edit>
